@charset "UTF-8";

@import url(./color-setting.css);

/* ----------------
ヘッダーのスタイル
------------------- */
.l-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-header__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}